// Mixin para bordes de botón

@use '../abstract/variables' as *;

@mixin border_btn() {
    border-radius: 10px;
    padding: 20px;
    text-align: center;

}

.btn_1btn_2btn_3btn_4 {

@include border_btn;

}

  @mixin titles() {
    font: bold;
    text-align: center;
}  

.title{
@include titles;
}

